<h1>Update post</h1>

<div class="jumbotron">

<%= bootstrap_form_for @post do |f| %>
  <%= f.text_field :title %><br>
  <%= f.text_area :content %><br>

  <%= f.submit "Update post", class: "btn btn-primary "  %>
<% end %>


</div><!-- .jumbotron -->
